{#
/**
 * @file
 * Default theme implementation for badge async rendering.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - content: Text for the content status.
 */
#}

<span {{ attributes }}>{{ content }}</span>